<!DOCTYPE html>
<html lang="en">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comforter&family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<style>
    * {
        font-family: 'Mochiy Pop P One', sans-serif;
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: red;
        font-size: 25pt;
    }
    p {
        font-size: 15pt;
    }
</style>
</head>
<body>
<div>
    <h1>Welcome!</h1><br>
    <p>This site has been visited {{ count }} times.</p>
</div>
</body>
</html>